<div class="filter">Filter of items/ yet to come</div>
<div class="inline">
<% for i in 0..@Laptops.size-1 do %>
    <div class="w3-card-4">
    <%=image_tag("laptop.png")%>
     <div class="w3-container w3-center">
    <%= @Laptops[i] %>
    </div>
    </div>
    <% end %>
    </div>